html, body {
  font-family: 'Montserrat', sans-serif;
  background: #c9d4e8;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

a:link {
  color: #a3bce6;
}
a:hover {
  color: #0f1010;
  text-decoration: none;}

a:visited {
    color: #080809;
  }

.gallery img {
  width: 300px;
  border-radius: 8px;
}
.col {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  padding: 35px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-md {
  max-width: 1000px;
  margin: 0 auto;
}